.about-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 3rem;
    gap: 5rem;
}

.about-left,
.about-right {
    -ms-flex-preferred-size: calc(50% - 5rem);
        flex-basis: calc(50% - 5rem);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.about-left {
    width: 100%;
    padding: 8rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
}

.about-left>img.starmark {
    position: absolute;
    width: 3rem;
    bottom: 2rem;
    left: 2rem;
}

.about-right>img {
    width: 100%;
}


@media(max-width: 560px) {
    .about-wrapper {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .about-left{
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }
    .about-left>img.starmark{
        top: 3rem;
        left: calc(100% - 4rem);
    }
    .about-left,
    .about-right {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    }
}