.gallery-wrapper{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 5rem;
    padding: 0 3rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.gallery-img-container{
    -ms-flex-preferred-size: calc(60% - 2.5rem);
        flex-basis: calc(60% - 2.5rem);
}
.gallery-text-container{
    -ms-flex-preferred-size: calc(40% - 2.5rem);
        flex-basis: calc(40% - 2.5rem);
}
.gallery-img-container{
    display: -ms-grid;
    display: grid;
    max-height: 70rem;
    height: auto;
    -ms-grid-rows: 1fr 2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr;
    -ms-grid-columns: 1fr 2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr;
        grid-template: repeat(7, 1fr) / repeat(7, 1fr);
    grid-gap: 2rem;
}
.gallery-1>.gallery-img-container>.gallery-img:nth-child(1){
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 7;
    grid-row: 1 / 8;
}
.gallery-1>.gallery-img-container>.gallery-img:nth-child(2){
    -ms-grid-column: 5;
    -ms-grid-column-span: 3;
    grid-column: 5 / 8;
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    grid-row: 1 / 5;
}
.gallery-1>.gallery-img-container>.gallery-img:nth-child(3){
    -ms-grid-column: 5;
    -ms-grid-column-span: 3;
    grid-column: 5 / 8;
    -ms-grid-row: 5;
    -ms-grid-row-span: 3;
    grid-row: 5 / 8;
}




.gallery-2>.gallery-img-container{
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
}
.gallery-2>.gallery-img-container>.gallery-img:nth-child(1){
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    grid-row: 1 / 5;
}
.gallery-2>.gallery-img-container>.gallery-img:nth-child(2){
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
    -ms-grid-row: 5;
    -ms-grid-row-span: 3;
    grid-row: 5 / 8;
}
.gallery-2>.gallery-img-container>.gallery-img:nth-child(3){
    -ms-grid-column: 4;
    -ms-grid-column-span: 4;
    grid-column: 4 / 8;
    -ms-grid-row: 1;
    -ms-grid-row-span: 7;
    grid-row: 1 / 8;
}







.gallery-img{
    overflow: hidden;
}
.gallery-img> img{
    height: 100%;
}
.gallery-img{
    position: relative;
}
.gallery-img::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #01010160;
    top: 0;
    left: 0;
    -webkit-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    opacity: 0;
    z-index: -1;
}
.gallery-img:hover::after{
    z-index: 1;
    opacity: 1;
}
.gallery-img>p,
.gallery-img>i{
    position: absolute;
}
.gallery-img>p{
    color: var(--black);
    font-family: "OS-Regular";
    font-size: 2rem;
    top: 2rem;
    left: 2rem;
    font-weight: bold;
    z-index: 2;
}
.gallery-img:hover>p{
    color: var(--white);
}
.gallery-img>i{
    font-size: 2.1rem;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: var(--white);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 100%;
    z-index: -1;
    opacity: 0;
    -webkit-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
}
.gallery-img:hover>i{
    z-index: 2;
    opacity: 1;
    -webkit-transition-delay: 0.1s;
         -o-transition-delay: 0.1s;
            transition-delay: 0.1s;
}
.gallery-img:hover>i:hover{
    color: var(--primary-color);
}

.gallery-text{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 7rem 0;
}

@media(max-width: 1100px){
    .gallery-img-container{
        max-height: 60rem;
    }
}
@media(max-width: 870px){
    .gallery-img-container{
        max-height: 50rem;
    }
}
@media(max-width: 670px){
    .gallery-img-container{
        max-height: 45rem;
    }
}
@media(max-width: 590px){
    .gallery-img-container{
        max-height: 55rem;
    }
    .gallery-wrapper{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .gallery-img-container{
        max-width: 65rem;
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        margin: 0 auto;
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }
    .gallery-text-container{
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    }
}