header{
    width: 100%;
    padding: 15px 30px 15px 0;
    background: var(--white);
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
nav>ul{
    width: 100%;
    display: flex;
    gap: 40px;
    font-size: 17px;
    font-family: "OS-SemiBold";
}
nav>ul>li>a{
    color: var(--black);
    opacity: 0.8;
    transition: 0.3s ease-in-out;
}
nav>ul>li>a:hover{
    color: var(--primary-color);
    opacity: 1;
}

@media(max-width: 425px){
    nav>ul{
        gap: 30px;
        font-size: 15px;
    }
}
@media(max-width: 370px){
    nav>ul{
        gap: 20px;
    }
}