:root{
    --white: #fff;
    --light-gray: #F5F5EF;
    --black: #222;
    --primary-color: #D6BE9B;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
a{
    text-decoration: none;
}
ul > li{
    list-style: none;
}
html{
    scroll-behavior: smooth;
}
body{
    background: var(--light-gray);
}
::selection{
    background: var(--primary-color);
    color: var(--white);
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: var(--primary-color);
}
::-webkit-scrollbar-track{
    background: var(--white);
}