:root{
    --white: #fff;
    --light-gray: #F5F5EF;
    --black: #222;
    --primary-color: #D6BE9B;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
a{
    text-decoration: none;
}
ul > li{
    list-style: none;
}
html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}
body{
    background: var(--light-gray);
}
section{
    padding: 3rem 0;
    width: 100%;
    box-shadow: 0 0 4px -1px #d9d8d8;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
.btn.style-1{
    width: fit-content;
    font-family: "Garet Book";
    font-weight: bold;
    font-size: 2rem;
    color: var(--primary-color);
    padding: 1.2rem 5rem;
    border: 0.3rem solid var(--black);
    transition: 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    background: transparent;
    z-index: 2;
}
.btn.style-1:hover{
    color: var(--black);
}
.btn.style-1>i{
    position: absolute;
    top: 50%;
    right: -4rem;
    transform: translateY(-50%);
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.btn.style-1:hover>i{
    right: 2rem;
    opacity: 1;
}
.btn.style-1::after,
.btn.style-1::before{
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    background: var(--black);
    z-index: -1;
    transition: 0.4s ease-in-out;
}
.btn.style-1::before{
    left: 0;
}
.btn.style-1::after{
    right: 0;
}
.btn.style-1:hover::after,
.btn.style-1:hover::before{
    width: 0;
}
.starmark{
    animation: starmark 5s linear infinite !important;
}
@keyframes starmark{
    100%{
        transform: rotate(360deg);
    }
}
::selection{
    background: var(--primary-color);
    color: var(--white);
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: var(--primary-color);
}
::-webkit-scrollbar-track{
    background: var(--white);
}


@media(max-width: 1200px){
    html{
        font-size: 60%;
    }
}
@media(max-width: 1100px){
    html{
        font-size: 57%;
    }
}
@media(max-width: 1000px){
    html{
        font-size: 55%;
    }
}
@media(max-width: 930px){
    html{
        font-size: 53%;
    }
}
@media(max-width: 880px){
    html{
        font-size: 50%;
    }
}
@media(max-width: 770px){
    html{
        font-size: 46%;
    }
}
@media(max-width: 680px){
    html{
        font-size: 42%;
    }
}
@media(max-width: 620px){
    html{
        font-size: 38%;
    }
}